header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px 20px;
    
}

#zogo{
    width: 100px !important;
    margin-right: 20px;
    display: flex;
    align-items: center;
    height: auto;

}
body {
    text-align: center;
    
}

form {
    
    justify-content: center;
    
}

#logo img {
    max-height: 80px;
    
}

#table1{
    margin: 20px auto;
   
    border-collapse: collapse;
    
}

th,
td {
    padding: 15px;
    
    border: 1px solid black;
    
    font-size: 1.2em;
    
}


td {
    text-align: center;
    
}

#Emma {
    display: flex;
    
    align-items: center;
    
}
table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #f2f2f2;
    }
    textarea {
        width: 100%; /* Makes the textarea fill the cell */
        resize: none; /* Disables resizing */
    }

    .container {
    display: flex;
}

.input-box {
    border: 1px solid #000; /* Border for the rectangular shape */
    padding: 10px; /* Padding inside the box */
    margin-left: 20px; /* Space between the sentence and the box */
    width: 700px; /* Set a fixed width for the input box */
    height: 20px;
}

.Dep{
    justify-content: left;
    align-items: center;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 10px;
}